$color-white: hsl(0, 0%, 94%);
$color-light-grey: hsla(67, 14%, 95%, 1);
$color-dark-grey: hsla(67, 0%, 45%, 0.5);
$color-green-main:hsla(165, 94%, 35%, 1);
$color-green-main-light:hsla(165, 94%, 55%, 1);
$color-red-main:hsla(350, 97%, 56%, 1);
$color-red-main-light:hsla(345, 97%, 63%, 1);

$text-color: $color-white;
$font-text: 'Poppins',
sans-serif;

$radius: 10px;
$radius-big: calc($radius * 2);
$base-size: 16px;
$transition: all 0.2s ease;